header {
    width: 100%;
    height: 50px;
    background-color: #00D1FF;
    align-items: center;
}
header div.title {
    padding-top: 5px;
    font-size: 36px;
    text-align: center;
    color: azure;
}

.buttons {
    background-color: gray;
    height: 40px;
    align-items: center;
}
.buttons button {
    background-color: grey;
    color: azure;
    margin: 2px;
    height: 36px;
    width: 100px;
}

.container {
    background-color: #F0F0F0;
    align-items: center;
    margin: 10px;
}
.container p {
    padding-top: 5px;
    padding-bottom: 10px;
}
.container .subcontainer {
    background-color: #DBDBDB;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: table-cell;
    border: 4px solid;
    border-color: #F0F0F0;
    border-radius: 15px;
}
.container .subcontainer a {
    color: black;
}
.container .subcontainer p {
    padding-bottom: 2px;
    padding-top: 1px;
}

p.head {
    font-size: 20px;
    padding-bottom: 0px;
}